* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    font-family: 'Lato', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
}

.left,
.right {
    position: absolute;
    height: 100%;
    width: 50%;
}

.left {
    background: #fff;
}

.right {
    left: 50%;
    background: rgba(202, 183, 71, 0.7);
}

.nav {
    position: absolute;
    width: 100%;
    height: 100vh;
}

.logo {
    line-height: 50px;
    width: 200px;
    position: absolute;
    left: -5%;
    padding: 5px;
    margin: 10px 0;
    color: grayblaxk;
    min-width: 120px;
    border-radius: 20px;
    background: rgb(185, 184, 53, .7);
}

.logo p {
    padding: 0 50px 0 100px;
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
}


.want, 
.play {
    position: absolute;
    top: 70%;
    line-height: 80px;
    right: 50%;
    transform: translateX(50%);
}

.next {
    left: 200px;
    font-size: 15px;
}

.want {
    text-transform: uppercase;
    color: #2c3e50;
    font-weight: bold;
    font-size: 17px;
}

.play {
    top: 75%;
    font-size: 35px;
    color: #2c3e50;
    mix-blend-mode: multiply;
}

.middle-top-bar {
    position: absolute;
    padding: 10px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.middle-top-bar ul {
    display: flex;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

.middle-top-bar ul li {
    padding: 10px;
    margin: 0 10px;
    align-self: center;
    font-size: 20px;
    color: #000;
}

.middle-top-bar {
    font-size: 20px;
}

.product {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: silk 5s linear infinite;
    transform-origin: top; 
}

.product img {
    width: 450px;
    position: relative;
    z-index: 2;
}

@keyframes silk {
    0% {
        transform: translate(-50%, -38%);
    }
    50% {
        transform: translate(-50%, -42%);
    }
    100% {
        transform: translate(-50%, -38%);
    }
}

.rightPattern {
    background-image: url("81792.jpg");
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    right: 0;
    overflow: hidden;
    mix-blend-mode: multiply;
    z-index: -2;
    opacity: .7;
}

.left-bottom {
    position: absolute;
    top: 95%;
    left: 5%;
    text-transform: uppercase;
    color: rgb(29,29,29);
    font-size: 10px;
}

.left-sidebar {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
    text-align: left;
}

.left-sidebar .headline h1 {
    z-index: 112;
    position: relative;
}

.left-sidebar .desc {
    width: 80%;
}

.left-sidebar button {
    padding: 12px 28px;
    background: rgb(185, 184, 53, .7);
    color: #fff;
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    outline: none;
    border: none;
    letter-spacing: 2px;
    cursor: pointer;
}

.left-sidebar p {
    margin-top: 20px;
}

#price {
    font-weight: bold;
}

.media {
    position: absolute;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
}

.media ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.media ul li {
    padding: 10px;
    color: #fff;
    font-size: 24px;
}

@media (max-width: 1385px) {
    .left-sidebar {
        width: 25%;
    }
}

@media (max-width: 780px) {
    .product img {
        width: 300px;
    }

    .left-sidebar .headline h1 {
        z-index: 111;
        position: relative;
    }

    .logo {
        line-height: 40px;
        width: 60px;
        position: absolute;
        left: -5%;
        padding: 5px;
        margin: 10px 0;
        color: grayblaxk;
        min-width: 120px;
        border-radius: 20px;
        background: rgb(185, 184, 53, .7);
    }
    
    .logo p {
        padding: 0 20px 0 50px;
        text-transform: uppercase;
        color: #fff;
        font-size: 12px;
    }
    
}

@media (max-width: 400px) {

    body {
        font-size: 10px;
    }

    .middle-top-bar {
        padding: 5px;
    }

    .middle-top-bar ul li {
        font-size: 16px;
        padding: 5px;
    }
    .product img {
        width: 200px;
    }

    .left-sidebar .headline h1 {
        z-index: 111;
        position: relative;
    }

    .logo {
        line-height: 30px;
        width: 40px;
        position: absolute;
        left: -5%;
        padding: 5px;
        margin: 10px 0;
        color: grayblaxk;
        min-width: 80px;
        border-radius: 20px;
        background: rgb(185, 184, 53, .7);
    }
    
    .logo p {
        padding: 0 10px 0 20px;
        text-transform: uppercase;
        color: #fff;
        font-size: 12px;
    }
    
}